<div *ngIf="project" class="project">
  <div class="project__content">
    <div class="project__navigation">
      <button (click)="navigateToPreviousProject()" [disabled]="currentIndex === 0" class="btn-nav"><i class="material-symbols-outlined">arrow_back</i></button>
      <h1>{{ project.title }}<span>:</span></h1>
      <button (click)="navigateToNextProject()" [disabled]="currentIndex === projects.length - 1" class="btn-nav"><i class="material-symbols-outlined">arrow_forward</i></button>
    </div>

    <div class="project__content__description" [innerHTML]="projectDescriptionHtml"></div>

    <div class="project__content__categories" *ngIf="project.categories.length > 0">
      <h4>Categories<span>:</span></h4>
      <div class="category">
        <div *ngFor="let category of project.categories; let index = index" class="category__tag">
          {{ category.title }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="project.gallery.length > 0" class="project__gallery">
    <div class="gallery-item" *ngFor="let item of project.gallery" style="position: relative;">
      <img [src]="'http://localhost:1337' + item.img" [alt]="item.alt" class="gallery-image" (click)="toggleImageSize($event, item)">

      <button class="gallery-item__expand-button" (click)="toggleImageSize($event, item)">
        <span class="material-symbols-outlined">expand_content</span>
      </button>
    </div>
  </div>
</div>

<div class="modal-backdrop" [ngClass]="{'is-expanded': isImageExpanded}">
  <img [ngClass]="{'is-visible': isImageExpanded}" [src]="expandedImageSrc" alt="Expanded Image" class="expanded-image" (click)="closeImage()">
  <button class="gallery-item__close-expand-button" (click)="closeImage()">
    <span class="material-symbols-outlined">collapse_content</span>
  </button>
</div>