<!-- <div class="project">
  <div class="project__content">
    <h1>{{ project.title }}<span>:</span></h1>

    <div class="separator"></div>

    <div class="project__content__description" [innerHTML]="project.description"></div>

    <div class="separator"></div>

    <div class="project__content__categories" *ngIf="project.categories">
      <h4>Categories</h4>
      {{ project.categories.length }}
      <div class="category" *ngFor="let category of project.categories">
        <div href="" class="category__tag">{{ category.title }}</div>
      </div>
    </div> 
  </div>

  <div class="project__gallery">
    <img src="https://picsum.photos/2000/1500" alt="">
    <img src="https://picsum.photos/2000/1500" alt="">
    <img src="https://picsum.photos/2000/1500" alt="">
    <img src="https://picsum.photos/2000/1500" alt="">
  </div> -->
  <!-- <div class="project__gallery" *ngFor="let image of project.gallery">
    <img [src]="image.img" alt="{{ image.alt }}">
  </div> -->
<!-- </div> -->
