@import 'styles/fonts';
@import 'styles/base/texts';
@import 'styles/colors';

.project {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 8rem);
  overflow: hidden;

  &__content,
  &__gallery {
    width: calc(50vw - 4rem);
    height: calc(100vh - 8rem);
    display: flex;
    flex: 1;
  }

  &__content {
    flex-direction: column;
    justify-content: space-between;
    padding: calc(10.5rem + 6rem) 0 8rem 0;
    left: 4rem;
    position: fixed;
    background: $base;

    h1 {
      font-family: $base-font-family;
      font-weight: $bold;
      font-size: 4.5rem;
      line-height: 1;
      text-transform: none;
      text-align: center;

      span {
        color: $primary;
      }

      &::after {
        display: none;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      padding: 0 10rem;

      p {
        text-align: center;
        font-size: 1.2rem;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        height: .2rem;
        width: 6rem;
        background: $on-base;
        margin: 0 auto;
      }
      &::before {
        margin-bottom: 4rem;
      }
      &::after {
        margin-top: 4rem;
      }
    }

    &__categories {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h4 {
        text-align: center;
        height: 1.5rem;
        padding: 0;

        span {
          color: $primary;
        }
      }

      .category {
        display: flex;
        justify-content: center;
        gap: 1rem;

        &__tag {
          padding: .5rem 1.5rem;
          border-radius: .5rem;
          background-color: $primary;
          font-family: $base-font-family;
          font-weight: $bold;
          line-height: 1;
          font-size: 1.2rem;
          letter-spacing: .02em;
          color: $on-primary;
          text-shadow: 0px 1px 1px $secondary;
          text-transform: uppercase;
        }
      }
    }
  }

  &__gallery {
    flex-direction: column;
    right: 4rem;
    position: absolute;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: .5rem;
      background: $base;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .5rem;
      background: $primary;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .gallery-image {
      transition: all 0.3s ease;
      width: 100%;
      height: auto;
      cursor: pointer;
      
      &.expanded {
        width: auto;
        height: 100vh;
        position: fixed;
        top: 4rem;
        left: 4rem;
        right: 4rem;
        bottom: 4rem;
        margin: 0 auto;
        z-index: 5;
        background-color: rgba($secondary, .5);
      }
    }
  }
  
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;

    .btn-nav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background: transparent;
      width: 4rem;
      height: 4rem;
      transition: background .4s ease-in-out;

      i {
        color: $on-base;
        font-style: normal;
        transition: color .2s ease-in-out;

        &:hover {
          color: $secondary;
          transition: color .2s ease-in-out;
        }
      }

      &:hover {
        background: rgba($primary, 15%);
      }

      &:disabled {
        cursor: default;
        &:hover {
          background: rgba($primary, 0);
        }
        i { color: transparent; }
      }
    }
  }
}

.gallery-item {
  position: relative;
  
  &__expand-button,
  &__close-expand-button {
    position: absolute;
    font-size: 1rem;
    background: transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    z-index: 2;
    transition: background .4s ease-in-out;
    color: $on-secondary;
    filter: drop-shadow(0px 1px 1px rgba($secondary, 50%));
    cursor: pointer;
  
    &:hover {
      background: rgba($primary, 15%);
      transition: background .4s ease-in-out;
    }
  }
  &__expand-button {
    bottom: 1rem;
    right: 1rem;
  }
  &__close-expand-button {
    bottom: 4rem;
    right: 4rem;
    opacity: 0;
    transition: opacity .2s ease-in-out, background .4s ease-in-out;
  }
}

.modal-backdrop {
  position: fixed;
  top: 4rem;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  background-color: rgba($secondary, 0);
  z-index: 5;
  backdrop-filter: blur(0);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background-color .4s ease-in-out, backdrop-filter .4s ease-in-out;

  .expanded-image {
    position: relative;
    height: 100%;

    &:not(.is-visible) {
      transform: scale(0);
      opacity: 0;
      transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    }
  }

  &.is-expanded {
    background-color: rgba($base-rev, .75);
    backdrop-filter: blur(4px);
    pointer-events: inherit;
    transition: background-color .4s ease-in-out, backdrop-filter .4s ease-in-out;
    
    .expanded-image {
      &.is-visible {
        transform: scale(100%);
        opacity: 1;
        transition: opacity .4s ease-in-out .1s, transform .4s ease-in-out .1s;

        &.zoomed {
          transform: scale(1.5); 
          transition: transform .4s ease-in-out;
        }
      }
    }

    .gallery-item {
      &__close-expand-button {
        opacity: 1;
        transition: opacity .4s ease-in-out .1s, background .4s ease-in-out;
      }
    }
  }
}

// MOBILE
@media only screen and (max-width: 935px) {
  .project {
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 4rem);

    &__content,
    &__gallery {
      position: unset;
      height: auto;
      width: calc(100vw - 4rem);
    }

    &__content {
      order: 1;
      gap: 2rem;
      padding: 14.5rem 0 4rem;

      h1 {
        padding: 0;
        order: 0;
        grid-column: 1 / -1;
        font-size: 3rem;
      }

      &__description {
        padding: 0 2rem;

        &::before {
          margin-bottom: 2rem;
        }
        &::after {
          margin-top: 2rem;
        }
      }

      &__categories {
        .category {
          padding: 0 2rem;
          flex-wrap: wrap;
        }
      }
    }

    &__gallery {
      order: 2;
      height: auto;
      overflow-y: visible;
    }

    &__navigation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      align-items: center;
      padding: 0 2rem;

      .btn-nav {
        &:first-of-type {
          order: 1;
          grid-column: 1;
          
        }
        &:last-of-type {
          order: 2;
          grid-column: 2;
          justify-self: flex-end;
        }
      }
    }
  }

  .modal-backdrop {
    position: fixed;
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}

// TABLETS
@media only screen and (min-width: 936px) and (max-width: 1200px) {
  .project {
    &__content {
      padding: 14.5rem 0 4rem 0;

      h1 {
        font-size: 3rem;
      }

      &__description {
        padding: 0 8rem;
        gap: 1rem;

        &::before {
          margin-bottom: 1rem;
        }
        &::after {
          margin-top: 1rem;
        }
      }
    }
  }
}