@import 'styles/fonts';
@import 'styles/colors';


footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 4rem;
  background: $base-light;
  z-index: 5;

  .social-networks {
    line-height: 1;
    a {
      color: $tertiary;

      &:hover {
        color: $secondary;
      }

      i {
        font-size: 2.6rem;
      }
    }
  }
  .copyright {
    color: $tertiary;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: $light;
    letter-spacing: .02em;
  }
}
