@import 'styles/fonts';
@import 'styles/colors';


footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 4rem;
  background: $base-light;
  z-index: 5;

  .social-networks {
    line-height: 1;
    display: flex;
    
    a {
      color: $tertiary;

      &:hover {
        color: $secondary;
      }

      i {
        font-size: 2.6rem;
      }
    }
  }
  .copyright {
    display: flex;
    color: $tertiary;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: $light;
    letter-spacing: .02em;
    gap: .3rem;

    span {
      font-size: 1.6rem;
    }
  }
}

// MOBILE
@media only screen and (max-width: 935px) {
  footer {
    height: 2rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .social-networks {
      a {  
        i { font-size: 2rem; }
      }
    }
    .copyright { font-size: .87rem; }
  }
}

// TABLETS
@media only screen and (min-width: 936px) and (max-width: 1200px) {

}