@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/base/texts';

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    &::after {
      background-color: $on-base;
    }
  }
  &__description {
    @extend .p;
  }

  &__grid {
    position: relative;
    height: 100%;
    width: 100%;
    column-count: 3;
    column-gap: 0;

    project {
      display: flex;
    }
  }
}
