@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/base/texts';

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $base;
  padding-top: 8rem;

  &__title {
    &::after {
      background-color: $on-base;
    }
  }
  &__description {
    @extend .p;
    margin-bottom: 4rem;
  }

  &__grid {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: 0;
    break-inside: avoid;

    project {
      display: flex;
    }
  }
}
