@import 'styles/colors';

header {
  position: fixed;
  top: 0;
  right: 4rem;
  left: 4rem;
  z-index: 5;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $base-light;
    height: 4rem;
    width: 100%;
  }

  .logo-container {
    position: relative;

    a {
      display: block;
      position: relative;
      transform: translateX(calc(50vw - 8rem));
      transition: transform .5s ease-in-out;

      svg {
        position: relative;
        top: 8rem;
        width: 12.5rem;
        transition: width .3s ease-in-out;
  
        .primary-color,
        .secondary-color,
        .tertiary-color {
          transition: fill .3s ease-in-out;
        }
  
        .primary-color {
          fill: $primary;
        }
        .secondary-color {
          fill: $secondary;
        }
        .tertiary-color {
          fill: $tertiary;
        }
      }
    }
  }

  &.header-alt {
    .logo-container {
      a {
        transform: translateX(4rem);
        
        svg {
          width: 10.5rem;
        }
      }
    }
  }

  &.scrolled {
    .logo-container {
      a {
        width: 10.5rem;
        transform: translateX(4rem);
        transition: transform .2s ease-in-out;

        svg {
          width: 10.5rem;
          transition: width .3s ease-in-out;
        }
      }
    }
  }
}
