@import 'styles/colors';

header {
  position: fixed;
	top: 0;
  right: 4rem;
  left: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $base-light;
    height: 4rem;
    width: 100%;
  }
  
  svg {
    position: absolute;
    top: 8rem;
    width: 12.5rem;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0px .2rem .6rem rgba(red($on-base), green($on-base), blue($on-base), .5));
    transition: all .4s ease-in-out;

    .color {
      &-primary { fill: $base-light; }
      &-secondary { fill: $primary; }
      &-tertiary { fill: $base-light; }
    }
  }

  &.header-alt {
    
    svg {
      top: 8rem;
      left: 8rem;
      transform: translateX(0);
      filter: drop-shadow(0px .2rem .2rem rgba(red($on-base), green($on-base), blue($on-base), .25));

      .color {
        &-primary { fill: $primary; }
        &-secondary { fill: $secondary; }
        &-tertiary { fill: $tertiary; }
      }
    }
  }

}

