@import 'styles/colors';

header {
  position: fixed;
	top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $base-light;
    height: 4rem;
    width: 100%;
  }

  svg {
    position: relative;
    top: 8rem;
    width: 12.5rem;
    transition: fill 0.5s ease-in-out;

    .primary-color { fill: $primary; }
    .secondary-color { fill: $secondary; }
    .tertiary-color { fill: $tertiary; }
  }

  &.header-alt {
    justify-content: flex-start;
    
    svg { left: 8rem; }
  }

  &.scrolled {
    svg {

      .primary-color { fill: $base-light; }
      .secondary-color { fill: $base-light; }
      .tertiary-color { fill: $base-light; }
    }
  }
}
