<div class="custom-services">
    <div class="custom-services__gallery">
        <img src="http://localhost:1337/uploads/My_Coachin_Application_a2e2d1878f.jpg" alt="">
    </div>
    <div class="custom-services__wrap">
        <h3 class="custom-services__title">custom services</h3>
        <p class="custom-services__text">Every project is unique and deserves a very personalized support. I make it a point of honor to take your project as far as possible.</p>
        <div class="separator"></div>
    </div>
</div>