$base: #F3F3F3;
$base-dark: #DADADA;
$base-light: #ffffff;
$on-base: #2C2929;

$primary: #A29BFE;
$primary-dark: #8982E5;
$primary-light: #BCB5FF;
$on-primary: #ffffff;

$secondary: #6C5CE7;
$secondary-dark: #5343CE;
$secondary-light: #8676FF;
$on-secondary: #ffffff;

$tertiary: #7E8A89;
$tertiary-dark: #657170;
$tertiary-light: #98A4A3;
$on-tertiary: #ffffff;

$success: #9bfea2;
$error: #fea29b;
