<div class="cookie-banner" *ngIf="!cookiesAccepted">
    <div class="cookie-banner__content">
        <p>
            {{ translatedText.messageStart }} <a [routerLink]="'/privacy-policy'">{{ translatedText.linkText }}</a>{{ translatedText.messageEnd }}
        </p>
        <div class="cookie-banner__buttons">
            <button class="btn btn-cookie" (click)="rejectCookies()">{{ translatedText.rejectButton }}</button>
            <button class="btn btn-cookie" (click)="acceptCookies()">{{ translatedText.acceptButton }}</button>
        </div>
    </div>
</div>