@import 'styles/fonts';
@import 'styles/colors';

.cookie-banner {
    position: fixed;
    top: 4rem;
    left: 4rem;
    right: 4rem;
    bottom: 4rem;
    background-color: rgba($on-base, .8);
    block-size: calc(100% - 8rem);
    inline-size: calc(100% - 8rem);
    backdrop-filter: blur(4px);
    pointer-events: none;
    z-index: 15;
    transition: background-color .5s ease-in-out, backdrop-filter .5s ease-in-out;

    &__content {
        width: calc(100vw - 8rem);
        background-color: $base;
        color: $on-base;
        padding: 4rem;
        text-align: center;
        pointer-events: auto;
        bottom: 0;
        z-index: 20;

        p {
            color: $on-base;
            margin-bottom: 2rem;
        }
    }
    &__buttons {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;

        .btn {
            font-family: $base-font-family;
            text-transform: uppercase;
            border: 1px solid;
            border-radius: 1rem;
            letter-spacing: .02rem;
            font-size: 1.2rem;
            font-weight: bold;
            background: transparent;
            padding: 1.5rem 4rem;
            transition: color .2s ease-in-out, background .4s ease-in-out, border-color .4s ease-in-out;

            &-cookie {
                border-color: $primary;
                color: $primary;
                background: $base;

                &:hover {
                    border-color: $secondary;
                    color: $on-secondary;
                    background: $secondary;
                }
            }
        }
    }
}

// MOBILE
@media only screen and (max-width: 935px) {
    .cookie-banner {
        top: 2rem;
        left: 2rem;
        right: 2rem;
        bottom: 2rem;
        block-size: calc(100% - 4rem);
        inline-size: calc(100% - 4rem);
    
        &__content {
            width: calc(100vw - 4rem);
            padding: 2rem;
    
            p {
                margin-bottom: 2rem;
            }
        }
    }
}