@import 'styles/colors';

header {
  position: fixed;
	top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $base-light;
    height: 4rem;
    width: 100%;
  }

  img {
    position: relative;
    top: 8rem;
    left: 8rem;
    width: 12.5rem;
  }
}
