<slider [autoSlide]="true" [arrows]="true" [dots]="true" id="home"></slider>

<ng-container *ngFor="let item of menuItems">
    <ng-container [ngSwitch]="item.slug">
      <project-list *ngSwitchCase="'creative-showcase'" [id]="item.slug"></project-list>
      <skills *ngSwitchCase="'what-i-can-do'" [id]="item.slug"></skills>
      <custom-services *ngSwitchCase="'customized-services'" [id]="item.slug"></custom-services>
      <contact *ngSwitchCase="'lets-work-together'" [id]="item.slug"></contact>
    </ng-container>
  </ng-container>