@import 'styles/fonts';
@import 'styles/base/texts';
@import 'styles/colors';

.privacy-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $base;
  padding: 17.5rem 8rem;
  gap: 4rem;

  h1 {
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: 4.5rem;
    line-height: 1;
    text-transform: none;
    text-align: center;

    &::after {
        display: none;
    }
    
    span {
        color: $primary;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

      h2 {
        &::after {
            height: .2rem;
            width: 6rem;
            background: $on-base;
            margin: 2rem auto 0;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

        li {
            font-family: $base-font-family;
            font-size: 1.6rem;
            line-height: 1.25;
            font-weight: 300;
            letter-spacing: .02em;
            width: fit-content;
            text-align: center;
            position: relative;

            &::before,
            &::after {
                display: block;
                position: absolute;
                content: "";
                height: .2rem;
                bottom: 0;
                width: 2rem;
                background: $primary;
            }

            &::before {
                left: -3rem;
            }

            &::after {
                right: -3rem;
            }
        }
      }
  }
}

// MOBILE
@media only screen and (max-width: 935px) {
  .privacy-policy {
    padding: 12.5rem 2rem 4rem;
    gap: 2rem;

    &__content {
      gap: 1rem;

      ul {
        li {
          font-size: 1.4rem;

          &::before,
          &::after {
              width: 1rem;
          }

          &::before {
              left: -1.5rem;
          }

          &::after {
              right: -1.5rem;
          }
        }
      }
    }
  }
}

// TABLETS
@media only screen and (min-width: 936px) and (max-width: 1200px) {
  .privacy-policy {
    &__content {
      ul {
        li {
          font-size: 1.4rem;
        }
      }
    }
  }
}