<div (click)="redirectTo(project.slug)" class="projects-list__content" role="link" tabindex="0">
  <div class="project">
    <div class="project-content">
      <h3 class="project-content__title">{{project.title}}</h3>

      <div class="project-content__categories" *ngIf="project.categories">
        <div class="project-content__category" *ngFor="let category of project.categories; let index=index">
          <a>{{category.title}}</a> <span *ngIf=" index < (project.categories.length - 1)">-</span>
        </div>
      </div>
    </div>

    <!-- <img [src]="'http://localhost:1337/' + project.thumbnail.attributes.url" class="project__img" [alt]="project.title"> -->
  </div>
</div>