@import 'styles/colors';
@import 'styles/fonts';

.main-nav {
  position: absolute;
  top: 4rem;
  left: 4rem;
  right: 4rem;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 20;
  pointer-events: none;

  .hamburger {
    position: fixed;
    top: 8rem;
    right: 8rem;
    background-color: transparent;
    cursor: pointer;

    .hamburger-box {
      position: relative;
      height: 2rem;
      width: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hamburger-icon {
        display: block;
        width: 100%;
        height: .2rem;
        background: $base-light;
        transition: all .2s ease-in-out;

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: .2rem;
          background: $base-light;
        }

        &:before {
          transform: translateY(300%) rotate(0);
        }
        &:after {
          transform: translateY(-300%) rotate(0);
        }
      }
    }

    &.is-active {
      .hamburger-icon {
        // opacity: 0;
        // transform: translateX(300%);

        &:before {
          transform: rotate(45deg) translateY(0);
        }

        &:after {
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
  }

  &__list {
    text-align: center;
    opacity: 0;
    li {
      transform: translateY(0);
      transition: transform .2s ease-in-out, text-shadow .2s ease-in-out;

      &:hover {
        transform: translateY(-1rem);
        text-shadow: 0 .5rem 2rem rgba($base-light, 1);
      }

      a {
        width: 100%;
        font-family: $secondary-font-family;
        font-size: 2.5rem;
        line-height: 3;
        color: $base-light;
      }
    }
  }
}

.modal-backdrop {
  background-color: rgba($secondary, 0);
  block-size: calc(100% - 8rem);
  inline-size: calc(100% - 8rem);
  position: fixed;
  transition: background-color .5s ease-in-out, backdrop-filter .5s ease-in-out;
  z-index: 15;
  backdrop-filter: blur(0);
  pointer-events: none;

  &-open {
    background-color: rgba($secondary, 0.75);
    backdrop-filter: blur(4px);
    pointer-events: inherit;
  }
}
