<nav class="main-nav">
  <button class="hamburger" (click)="toggleNavbar();" *ngIf="!menuOpened">
    <span class="hamburger-box">
      <span class="hamburger-icon"></span>
    </span>
  </button>

  <ol class="main-nav__list">
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="">Creative showcase</a>
    </li>
    <li>
      <a routerLink="">What I can do</a>
    </li>
    <li>
      <a routerLink="">Let's work together!</a>
    </li>
  </ol>
</nav>

<div class="modal-backdrop"></div>

