<button class="menu_icon"
  [ngClass]="{'is-open': menuOpened}"
  (click)="toggleNavbar();"
>
  <span class="hamburger-icon">
    <span class="hamburger-bar__1"></span>
    <span class="hamburger-bar__2"></span>
    <span class="hamburger-bar__3"></span>
  </span>
</button>

<nav class="menu">
  <ol class="menu_content"
    [ngClass]="{'menu-opened': menuOpened}"
  >
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="">Creative showcase</a>
    </li>
    <li>
      <a href="">What I can do</a>
    </li>
    <li>
      <a href="">Let's work together!</a>
    </li>
  </ol>
</nav>

<div class="modal-backdrop" [ngClass]="{'is-open': menuOpened}"></div>

