a, .link {
  color: $secondary-dark;
  text-decoration: none;
  transition: color .4s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $secondary;
    transition: color .4s ease-in-out;
  }
}
