button,
.btn {
  display: inline-flex;
  padding: 1.5rem 4rem;
  justify-content: center;
  align-items: center;
  font-family: $base-font-family;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: .03rem;
  text-transform: uppercase;
  border-radius: 1rem;
  background: transparent;
}

.btn {
  &-primary {
    background: $base;
    border: 1px solid $primary;
    color: $primary;
    transition: all .3s ease-in-out;

    &:hover {
      background: $primary;
      color: $on-primary;
      border: 1px solid $primary;
      text-shadow: 0px 1px 1px 0px rgba(red($primary-dark), green($primary-dark), blue($primary-dark), .85);
    }
    
    &.is-active {
      background: $primary;
      color: $on-primary;
      border: 1px solid $primary;
      text-shadow: 0px 1px 1px 0px rgba(red($primary-dark), green($primary-dark), blue($primary-dark), .85);

      &:hover {
        background: $primary-dark;
        border: 1px solid $primary-dark;
        text-shadow: 0px 1px 1px 0px rgba(red($on-base), green($on-base), blue($on-base), .5);
      }
    }
  }
}
