@import 'styles/colors';

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $base-font-family;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: $bold;
  letter-spacing: .02em;
  text-transform: uppercase;

  &::after {
    display: block;
    content: "";
    width: .1rem;
    height: 8rem;
    margin: 2rem auto;
  }
}

p, .p {
  font-family: $base-font-family;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: .02em;

  a {
    position: relative;

    &::after {
      content: '';
      height: .3rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($primary, .75);
      z-index: -1;
      transition: height .4s ease-in-out, background .4s ease-in-out;
    }

    &:hover {
      &::after {
        height: .6rem;
        background: rgba($primary, .25);
        transition: height .4s ease-in-out, background .4s ease-in-out;
      }
    }
  }
}

b, strong {
  font-weight: $medium;
  position: relative;

  &::after {
    content: '';
    height: 40%;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    background: rgba($primary, 25%);
    z-index: -1;
  }
}

i, em {
  font-style: italic
}

// MOBILE
@media only screen and (max-width: 600px) {
  p, .p { font-size: 1.4rem; }
}

// TABLETS
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  p, .p { font-size: 1.4rem; }
}